{{define "root-body"}}
<div>
  Index Page
  <a class="button is-link" href="/admin/login">login</a>
  <br>
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      {{range .List}}
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{.Title}}</strong>
                <br>
                {{.Detail}}
              </p>
            </div>
          </div>
        </article>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{define "root-script"}}
<script>
  console.log("script")
</script>
{{end}}

{{define "root-style"}}
{{end}}