{{define "root-body"}}
<div>
  Index Page
  <a class="button is-link" href="/admin/login">login</a>
  <a class="button is-link" href="/register">register</a>
  <br>
  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      {{range .List}}
        <a href="/news/{{.ID.Hex}}">
          <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    {{ if .Image}}
                    <img src="{{.Image}}">
                    {{ else }}
                    <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                    {{end}}
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{.Title}}</strong>
                      <br>
                      {{.Detail}}
                    </p>
                  </div>
                </div>
              </article>
          </div>
        </a>
        <br>
      {{end}}
    </div>
  </div>
</div>
{{end}}

{{define "root-script"}}
<script>
  console.log("script")
</script>
{{end}}

{{define "root-style"}}
{{end}}