{{define "root-body"}}
<div>
  <a href="/admin/logout" class="button is-info">Logout</a>
  <a href="/admin/create"class="button is-primary">Create News</a>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tfoot>
    </tfoot>
    <tbody>
      {{range $i, $value := .List}}
      <tr>
        <th>{{$i}}</th>
        <td>{{$value.ID.Hex}}</td>
        <td>{{$value.Title}}</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <a class="button is-warning" href="/admin/edit?id={{$value.ID.Hex}}">Edit</a>
            </div>
            <div class="control">
              <form method="POST" action="/admin/delete">
                <input type="hidden" name="id" value="{{$value.ID.Hex}}">
                <button class="button is-danger">Delete</button>
              </form>
            </div>
          </div>
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}