{{define "root-body"}}
<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
    <form method="POST">
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" name="username" type="text" placeholder="username">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" name="password" type="password" placeholder="password">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">Login</button>
        </div>
      </div>
      {{ if .Flash.errors}}
      {{ range .Flash.errors}}
      <div class="notification is-danger">
        {{ . }}
      </div>
      {{ end }}
      {{ end }}
    </form>
  </div>
</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}