{{define "root-body"}}
<div>
  <form method="POST">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input" name="username" type="text" placeholder="username">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" name="password" type="password" placeholder="password">
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary">Register</button>
      </div>
    </div>
  </form>
</div>
{{end}}

{{define "root-script"}}
{{end}}

{{define "root-style"}}
{{end}}